<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/animate.css">
<link rel="stylesheet" href="stylesheets/mbr-additional.css">
<link rel="stylesheet" href="stylesheets/flex-images.css">


</head>

<body ng-app="sportsApp">
	<div ui-view="header">
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div ui-view="container">
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript" src="javascripts/angularApp.js"></script>
<script type="text/javascript" src="javascripts/controllers/mainController.js"></script>
<script type="text/javascript" src="javascripts/controllers/navController.js"></script>
<script type="text/javascript" src="javascripts/controllers/authController.js"></script>
<script type="text/javascript" src="javascripts/controllers/nflController.js"></script>
<script type="text/javascript" src="javascripts/controllers/mlbController.js"></script>
<script type="text/javascript" src="javascripts/controllers/nbaController.js"></script>
<script type="text/javascript" src="javascripts/controllers/nhlController.js"></script>
<script type="text/javascript" src="javascripts/controllers/contestController.js"></script>
<script type="text/javascript" src="javascripts/controllers/contestList.js"></script>

<script type="text/javascript" src="javascripts/services/authService.js"></script>
<script type="text/javascript" src="javascripts/services/nbaService.js"></script>
<script type="text/javascript" src="javascripts/services/mlbService.js"></script>
<script type="text/javascript" src="javascripts/services/nhlService.js"></script>
<script type="text/javascript" src="javascripts/services/contestService.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>

<script src="javascripts/stylescripts/SmoothScroll.js"></script>
<script src="javascripts/stylescripts/jarallex.js"></script>
<script src="javascripts/stylescripts/script.js"></script>
<script src="javascripts/stylescripts/flex-images.js"></script>
<script src="javascripts/stylescripts/flex-images.min.js"></script>




</body>
</html>
