<div class="page-header">
</div>

<br>
<br>
<div ng-show="isLoggedIn()">
  <h3>Upcoming Contest List</h3>
    <table id="nbateams">
    		<tr>
    			<th>Contest ID</</th>
    			<th>League(s) Included</th>
    			<th>Number of Participants</th>
    			<th>Number of Matchups</th>
    		</tr>
        <tr ng-repeat="contest in contests">
        <td>{{contest.id}}</td>
        <td>{{contest.tags}}</td>
        <td>{{contest.participants}}</td>
        <td></td>
        <td><button class="btn btn-primary" ui-sref="contest({id: contest.id})">View</td>
    </table>
</div>
<div ng-hide="isLoggedIn()">
  <h1>You need to login or register to particpate in contests</h1>
</div>
