<div class="page-header">
  <h1>PickemSports</h1>
</div>

<div ng-repeat="matchup in contest">
    <div class="row">
        <br/><span>Matchup No.{{matchup.matchupId}}</span>
    </div>
    <div ng-repeat="nbaTeams in matchup.nbaTeams">
       <input type="radio" name="matchup{{matchup.matchupId}}"
        value="{{nbaTeams.team}} in MatchupId: {{matchup.matchupId}}"
        ng-model="matchup.selectedTeam"
        ng-value="{{nbaTeams.team}}" />{{nbaTeams.team}}
    </div>
</div>

<div ng-repeat="matchup in contest">
  <p>{{matchup.selectedTeam}}</p>
</div>
