<div class="page-header">
</div>

<table id="nbateams">
  <tr>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Selected Team</th>
    <th>Winning Team</th>
  <tr ng-repeat="matchup in contest" ng-init="outerIndex=$index">
    <td ng-repeat="nbaTeams in matchup.nbaTeams" ng-init="innerIndex=$index">
      <input type="radio" ng-model="$parent.matchup.selectedTeam" name="matchup{{matchup.matchupId}}"
      ng-value="nbaTeams.team"/>
      <img ng-src="{{nbaTeams.logo}}"> {{nbaTeams.team}} : {{nbaTeams.teamScore}}
    </td>
    <td>
      <strong ng-show="showPicks">{{matchup.selectedTeam}}</strong>
    </td>
    <td ng-show="checked">
      {{matchup.matchupWinner}}
    </td>
  </tr>
</table>
<button type="submit" class="btn btn-primary" ng-click="showPicks=true">Submit Picks</button>

Click Here to Check Winner! <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow">
