<div class="page-header">
</div>
<br>
<br>
<div class="contentA">
  <div class="rowA">
    <div class="cell">
      <img src="./stylesheets/images/mlb.jpg" />
    </div>
    <div class="cell">
      <img src="./stylesheets/images/nba.jpg">
    </div>
    <div class="cell">
      <img src="./stylesheets/images/nfl.jpg">
    </div>
    <div class="cell">
      <img src="./stylesheets/images/nhl.jpg">
    </div>
  </div>
</div>
<div ng-show="isLoggedIn()">
  <h3>Upcoming Contest List</h3>
    <table id="nbateams">
    		<tr>
    			<th>Contest ID</</th>
    			<th>League(s) Included</th>
    			<th>Number of Participants</th>
          <th>Start Date</th>
          <th> </th>
    		</tr>
        <tr ng-repeat="contest in contests">
        <td>{{contest.id}}</td>
        <td>{{contest.tags}}</td>
        <td>{{contest.participants}}</td>
        <td>{{contest.start | date:"MM/dd/yyyy' at 'h:mma"}}</td>
        <td><button class="btn btn-primary" ui-sref="contest({id: contest._id})">View</td>
    </table>
</div>
<div ng-hide="isLoggedIn()">
  <h1>You need to <a ui-sref="login">login</a> or <a ui-sref="register">register</a> to participate in contests</h1>
  <a ng-show="isLoggedIn()" ui-sref="contestList">
</div>
