<div class="page-header">
</div>
<br>
<br>
<div class="flex-images">
  <div class="item" data-w="355" data-h="200" style="width: 355px; height: 200px; display: block;"><img src="./stylesheets/images/mlb.jpg"></div>
  <div class="item" data-w="302" data-h="200" style="width: 302px; height: 200px; display: block;"><img src="./stylesheets/images/nba.jpg"></div>
  <div class="item" data-w="266" data-h="200" style="width: 266px; height: 200px; display: block;"><img src="./stylesheets/images/nfl.jpg"></div>
  <div class="item" data-w="200" data-h="200" style="width: 200px; height: 200px; display: block;"><img src="./stylesheets/images/nhl.jpg"></div>
</div>
<div ng-show="isLoggedIn()">
  <h3>Upcoming Contest List</h3>
    <table id="nbateams">
    		<tr>
    			<th>Contest ID</</th>
    			<th>League(s) Included</th>
    			<th>Number of Participants</th>
          <th>Start Date</th>
    		</tr>
        <tr ng-repeat="contest in contests">
        <td>{{contest.id}}</td>
        <td>{{contest.tags}}</td>
        <td>{{contest.participants}}</td>
        <td>{{contest.start | date:"MM/dd/yyyy' at 'h:mma"}}</td>
        <td><button class="btn btn-primary" ui-sref="contest({id: contest._id})">View</td>
    </table>
</div>
<div ng-hide="isLoggedIn()">
  <h1>You need to login or register to particpate in contests</h1>
</div>
