<div class="page-header">
</div>
<div ng-show="showDeletePicks" class="header">
  <div ng-show="!contestStarted">
    <h2 class="header">You must delete your pick entry in order to re-submit them</h2>
    <button class="btn btn-danger btn-large" ng-click="deletePicks(pick)">Delete Picks</button>
  </div>
  <h2 class="header">Your Picks:</h2>
  <div ng-repeat="pick in currentPicks">
    <h5 class="header">{{pick}}</h5>
  </div>
</div>
<br>

<form name="contestForm" ng-submit="submitPicks()">
  <table id="nbateams">
    <tr>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>
        <div ng-show="!madePicks">
          Selected Team
        </div>
      </th>
      <th>Winning Team</th>
    </tr>
    <tr ng-repeat="matchup in contest.matchups">
      <td>
        <input type="radio" name="matchup{{matchup.matchupId}}" ng-model="matchup.selectedTeam" ng-value="matchup.homeTeam" ng-show="!madePicks" required>
        <img ng-src="{{matchup.homeLogo}}">
        <br>
        {{matchup.homeTeam}}
      </td>
      <td>
        <input type="radio" name="matchup{{matchup.matchupId}}" ng-model="matchup.selectedTeam" ng-value="matchup.awayTeam" ng-show="!madePicks" required>
        <img ng-src="{{matchup.awayLogo}}">
        <br>
        {{matchup.awayTeam}}
      </td>
        <td>
          <div ng-show="!madePicks">
            {{matchup.selectedTeam}}
          </div>
        </td>
        <td>
          <div ng-show="makeAvailable">
            {{matchup.matchupWinner}}
          </div>
        </td>
    </tr>
  </table>
  <br>
  <button type="submit" ng-show="!hasMadePicks" ng-disabled= "buttonDisabled" class="btn btn-primary btn-large">Submit Picks</button>
</form>
<div class="container">
  <h2 align="center">Contest Leaderboard</h2>
  <table id="nbateams">
    <thead>
      <tr>
        <th>Username</th>
        <th>Picks</th>
        <th>User Points</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pick in contest.picks | orderBy:'-contestPoints'">
        <td>{{pick.user.username}}</td>
        <td>
          <div ng-show="makeAvailable">
            {{pick.selectedTeams}}
          </div>
          <div ng-show="!makeAvailable">
            Picks will appear once the contest begins
          </div>
        </td>
        <td>{{pick.contestPoints}}</td>
      </tr>
    </tbody>
  </table>
</div>
