<div class="page-header">
</div>

{{contest.participants}}
{{contest.usersWhoJoined}}
<form name="contestForm" ng-submit="submitPicks()">
  <table id="nbateams">
    <tr>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Selected Team</th>
      <th>Winning Team</th>
    </tr>
    <tr ng-repeat="matchup in contest.matchups">
      <td>
        <input type="radio" name="matchup{{matchup.matchupId}}" ng-model="matchup.selectedTeam" ng-value="matchup.homeTeam">
        <img ng-src="{{matchup.homeLogo}}">
        <br>
        {{matchup.homeTeam}}
      </td>
      <td>
        <input type="radio" name="matchup{{matchup.matchupId}}" ng-model="matchup.selectedTeam" ng-value="matchup.awayTeam">
        <img ng-src="{{matchup.awayLogo}}">
        <br>
        {{matchup.awayTeam}}</td>
        <td>{{matchup.selectedTeam}}</td>
        <td>{{matchup.winningTeam}}</td>
    </tr>
  </table>
  <button type="submit" value="submit picks" ng-show="!hasMadePicks" ng-click="incrementParticipants(contest)" ng-disabled= "buttonDisabled" class="btn btn-success">Submit Picks</button>
</form>
{{currentUser.selectedTeams}}
