<div class="page-header">
  <br>
  <h1>NBA Team List</h1>
</div>
<table id="nbateams">
    <tr>
      <th>Logo</th>
      <th>Abbreviation</th>
      <th>Team</th>
      <th>Mascot</th>
    </tr>
    <tr ng-repeat="nbateam in nbateams">
      <td><img ng-src="{{nbateam.logo}}"</td>
      <td>{{ nbateam.abbr }}</td>
      <td>{{ nbateam.team }}</td>
      <td>{{ nbateam.mascot }}</td>
    </tr>
  </table>
